<!doctype html>
<html lang="en">
<head>
    <title>YCSI</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="src/css/main.css">

</head>

<body>
<button onclick="draw()">CROP</button>
<canvas id="crop_canvas"></canvas>
<img id="crop_test" src="src/img/873042.png" alt="test" style="visibility: hidden; width: 100%">
<br>
<br>
</body>
<script src="tensor/crop.js"></script>
</html>